html,
body {
    height: 100%;
    
}

.base {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px;
}

.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 48px;
    background-color: #f2f2f2;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}